@page "/add"

<div id="add">
    <h1>Add New Employee</h1>

    <form>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname"/>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname"/>
        <label for="departments">Department</label>
        <select name="departments">
            <option value="dept1">dept1</option>
            <option value="dept2">dept2</option>
            <option value="dept3">dept3</option>
        </select>
        <label for="position">Position</label>
        <select name="position">
            <option value="pos1">pos1</option>
            <option value="pos2">pos2</option>
            <option value="pos3">pos3</option>
        </select>
        <label for="salary">Base Salary</label>
        <input type="number" name="salary" />
    </form>

    <div id="buttons">
        <button type="submit">Add Employee</button>
        <button>Cancel</button>
    </div>
</div>

<style>
    #add {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    input {
        width: 20vw;
    }
    label {
        padding-top: 2rem;
    }
    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    button {
        width: fit-content;
        height: fit-content;
        padding-block: 1rem;
        padding-inline: 2rem;
        background-color: #D8829D;
    }

</style>