@page "/raise"

<div id="raise">
    <h1>Give Employee Raise/Bonus</h1>
    <div id="side-by-side">
        <div id="left-side">
            <form>
                <label for="emp-id">Employee ID</label>
                <input type="text" name="emp-id" />
                <label for="salary">New Base Salary</label>
                <input type="number" name="salary" />
                <label for="bonus">Bonus</label>
                <input type="number" name="salary" />
            </form>
        </div>

        <div id="right-side">
            <h3>Current Employee Information:</h3>
            <div id="emp-info">
                <p>Name: {}</p>
                <p>Department: {}</p>
                <p>Position: {}</p>
                <p>Salary: {}</p>
            </div>
        </div>
    </div>

    <div id="buttons">
        <button type="submit">Save</button>
        <NavLink class="nav-link" href="/">
            <button>Cancel</button>
        </NavLink>
    </div>
</div>

<style>
    #raise {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #side-by-side {
        display: flex;
        gap: 5rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        width: 20vw;
    }

    label {
        padding-top: 2rem;
    }

    #emp-info {
        border: 2px solid black;
        padding: 3rem;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 5rem;
    }

    button {
        width: fit-content;
        height: fit-content;
        padding-block: 1rem;
        padding-inline: 2rem;
        background-color: #D8829D;
    }

</style>