@page "/"

<div id="home">
    <h1>Welcome to Office Orchestrator!</h1>

    <div id="buttons">
        <button onclick="">Add Employee</button>
        <button onclick="">Edit Employee</button>
        <button onclick="">Give Raise</button>
        <button onclick="">View All Employees</button>
    </div>
</div>

<style>
    :root {
        background-color: #F3F9E3;
    }
    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20vh;
        color: #050517;
    }
    #buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    button {
        width: fit-content;
        height: fit-content;
        padding-block: 1rem;
        padding-inline: 2rem;
        background-color: #D8829D;
    }
</style>